$themeColor: rgb(0, 153, 255);
$portSize: 12;

html,
body,
#app {
  height: 100%;
}

.body-app {
  height: 100%;
  padding-top: 0.1rem;
}

#app {
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  overflow: hidden;
  height: 800px;
  .tool-wrapper {
    position: relative;
  }
}

.flowchart-container {
  margin: 0;
  border: 1px solid #eee;
  background: #fcfcfc;
  position: relative;
  overflow: hidden;
  svg {
    cursor: grab;
  }
}

.flowchart-node {
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    margin: 0;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #e4e6eb;
    border-radius: 100px;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 1);
    margin: 1px 0;
    z-index: 1;
    opacity: 0.9;
    cursor: move;
    transform-origin: top left;
 
  .node-port {
    position: absolute;
    width: #{$portSize}px;
    height: #{$portSize}px;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid #ccc;
    border-radius: 100px;
    background: white;
    &:hover {
      background: $themeColor;
      border: 1px solid $themeColor;
    }
  }
  .node-input {
    top: #{-2 + $portSize/-2}px;
  }
  .node-output {
    bottom: #{-2 + $portSize/-2}px;
  }
  .node-delete {
    position: absolute;
    right: -6px;
    top: -6px;
    font-size: 10px;
    width: 16px;
    height: 16px;
    color: $themeColor;
    cursor: pointer;
    background: white;
    border: 1px solid $themeColor;
    border-radius: 100px;
    text-align: center;
    &:hover {
      background: red;
      border: 1px solid rgb(138, 23, 23);
      color: white;
    }
  }
}